<template>
  <div class="journey-view">
    <transition-group tag="div" name="list">
      <div class="item" v-for="it in items" :key="it.journeyId">
        <TransportItem :item="it" />
      </div>
    </transition-group>
  </div>
</template>

<script>
import TransportItem from "./TransportItem.vue";

export default {
  props: {
    items: Array
  },
  components: {
    TransportItem
  },
};
</script>

<style scoped>
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter {
  opacity: 0;
}
.list-leave-to {
  transform: scaleY(0);
  opacity: 0;
  margin-top: -45px;
  margin-bottom: -45px;
}
.list-move {
  transition: transform 1s;
}
</style>
