<template>
  <svg
    v-if="type=='tram'"
    focusable="false"
    class="rds-svg--tram-icon"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <path
      d="M2.998 24.007h26V26h-26zm26.953-6.324l-.54-2.417-.947-4.22-.13-.57a.634.634 0 00-.597-.476H16.229l2.543-2.227a.662.662 0 00-.025-1.021l-3.432-2.745h-2.151l4.115 3.289L14.189 10H4.26a.64.64 0 00-.6.477l-.529 2.368-1.007 4.485-.079.353a3.09 3.09 0 00.39 2.081l1.059 1.5H7v.759a.985.985 0 00.984.977h3.043a.983.983 0 00.987-.977v-.759h7.995v.76a.985.985 0 00.987.976h3.042a.985.985 0 00.985-.977v-.759h3.48l1.057-1.5a3.076 3.076 0 00.39-2.081zM9.013 17H3.505l.913-4.647h4.595zm6.498 0h-5.51v-4.647h5.51zm6.497 0h-5.51v-4.647h5.51zm.99 0v-4.647h4.58L28.49 17z"
    />
  </svg>
  <svg
    v-else-if="type=='bus'"
    focusable="false"
    class="rds-svg--bus-icon"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <path
      d="M11.625 22.812a2.188 2.188 0 11-2.188-2.188 2.188 2.188 0 012.188 2.188zM29.429 10H2.572a.574.574 0 00-.572.573v11.228a.575.575 0 00.572.573h3.347a3.543 3.543 0 017.037 0h6.088a3.543 3.543 0 017.037 0h3.348a.575.575 0 00.571-.573V10.574a.574.574 0 00-.57-.574zM8.848 17H3.259v-4.647h5.589zm6.632 0H9.892v-4.647h5.588zm6.641 0h-5.6v-4.647h5.6zm6.621 0h-5.59v-4.647h5.59zm-3.992 5.812a2.188 2.188 0 11-2.188-2.188 2.188 2.188 0 012.188 2.188z"
    />
  </svg>
  <svg
    v-else-if="type=='metro'"
    focusable="false"
    class="rds-svg--metro-icon"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <path d="M10 11.39V9h12v2.39h-4.6v13.29h-2.85V11.39z" />
    <path d="M16 4A12 12 0 114 16 12 12 0 0116 4m0-2a14 14 0 1014 14A14 14 0 0016 2z" />
  </svg>
  <svg v-else-if="type=='rail'" focusable="false" class="rds-svg--rail-icon" width="32" height="32" viewBox="0 0 32 32"><path d="M2 23h24v2H2zm26.981-7.87l-4.908-4.944a.758.758 0 00-.494-.186h-9.467l3.879-1.945c.402-.213.402-.547 0-.76L11.625 4H9l6.707 3.66-4.63 2.34H2v11h24.573a3.43 3.43 0 002.408-5.87zm-9.714-.346v-2.79h3.802l2.695 2.79z"></path></svg>
  <svg v-else>?</svg>
</template>
<script>
export default {
  props: {
    type: String
  }
};
</script>
<style scoped>
  svg {
    width: 40px;
    height: 40px;
  }

  .rds-svg--tram-icon {
    fill: #0B91EF;
  }

  .rds-svg--metro-icon {
    fill: #EC700C;
  }

  .rds-svg--bus-icon {
    fill: #75A300;
  }

  .rds-svg--rail-icon {
    fill: aqua;
  }
</style>
