<template>
  <div class="flex-row transport-item">
    <div class="item-type">
      <TransportIcon :type="item.type" />
    </div>
    <div class="number" :class="item.type">
      {{ item.publicCode }}
    </div>
    <div class="flex-1">
      {{ item.prettyName }}
    </div>
    <div class="p10" :class="timeClass">{{ item.time }}</div>
  </div>
</template>
<script>
import TransportIcon from './TransportIcon.vue';

export default {
  props: {
    // bus, train, tram, tban
    item: Object /*{
      type: String,
      text: String,
      prettyName: String,
      time: String,
      isDelayed: Boolean
    }*/
  },
  components: {
    TransportIcon
  },
  computed: {
    timeClass: function () {
      const { isDelayed, isCancelled } = this.item;

      return {
        'is-delayed': isDelayed,
        'is-cancelled': isCancelled
      }
    }
  }
}
</script>
<style scoped>
  .number {
    font-weight: bold;
    text-align: right;
  }

  .number.bus,
  .number.rail {
    flex-basis: 3ch;
  }

  .number.rail {
    text-align: left;
  }


.transport-item {
  border-radius: 2px;
  margin: 6px 3px;
  padding: 10px;
  background: rgb(39, 28, 71);
  color: white;
  font-size: 30px;
  align-items: center;
}

.is-delayed {
  color: #ffcc00;
}

.is-cancelled {
  color: red;
}

.transport-item > div {
  padding: 7px;
}
.item-type {
  background: transparent;
}
</style>
