<template>
  <div id="app">
    <h1>Nationaltheateret</h1>
    <div class="flex-row">
      <JourneyView class="flex-1" :items="itemsBus" />
      <JourneyView class="flex-1" :items="itemsRail" />
      <JourneyView class="flex-1" :items="itemsMetro" />
      <JourneyView class="flex-1" :items="itemsTram" />
    </div>
  </div>
</template>

<script>
import { fetchStopData } from './services/api';
import JourneyView from './components/JourneyView.vue'

export default {
  name: 'App',
  data() {
    return {
      journeys: []
    }
  },
  components: {
    JourneyView
  },
  methods: {
    fetchData() {
      fetchStopData().then((data) => {
        this.journeys = data;
      });
    }
  },
  created() {
    this.fetchData();
    setInterval(() => {
      this.fetchData();

    }, 5000)
  },
  computed: {
    itemsBus() {
      return this.journeys.filter(it => it.type === 'bus').splice(0, 10);
    },
    itemsRail() {
      return this.journeys.filter(it => it.type === 'rail').splice(0, 10);
    },
    itemsMetro() {
      return this.journeys.filter(it => it.type === 'metro').splice(0, 10);
    },
    itemsTram() {
      return this.journeys.filter(it => it.type === 'tram').splice(0, 10);
    }
  }
}
</script>
