body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.p10 {
  padding: 10px;
}
.flex-1 {
  flex: 1;
}

h1 {
  font-size: 3em;
  text-align: center;
}
